
body p{
    font-size:15px;
}

.container.main{
    margin:75px auto;
    justify-content: center;
    max-width: 1100px;
}

.row.top{
    padding-bottom: 60px;
    margin:auto;
    margin-bottom: 90px;
    justify-content: center;
    position: relative;
    
}

.row.top:before{
    position:absolute;
    content: "";
    width:70%;
    border-bottom:2px solid #d9d9d9;
    bottom:0;
    left:195px
}

.nav-link{
    color:#444444;
    font-weight: 700;
}

.logo__container{
    height: 40px;
    overflow:hidden;
    margin-left:50px
}

.logo__container img{
    transition: transform .2s ease-in-out;
}

.logo__container img:hover{
    transform: translate3d(0px, -40px, 0px);
}

.btn__sign__in{
    height:40px;
    width:104px;
    border:2px solid blue;
    margin-right:10px;
    font-weight: 500;
    color:#0d6efd
}


.btn__try__free{
    width:auto;
    background-color:#0d6efd;
    color:#fff;
    font-weight:500;
    padding:5px 20px;
    margin-right:30px;
    margin-left:10px;
}

/* =========  LANDING PAGE LEFT COLUMN ========= */

.title h1{
    max-width:260px;
    font-weight: 700;
}

.landing__pg__sign__in__link a{
    text-decoration: none;
    color: #444;
    font-weight: 600;
}

span.bold{
    font-weight: bold;
}

.landing__pg__btn__grp{
    position: relative;
    margin-top:25px;
    margin-bottom: 25px;;
}


.landing__pg__btn__grp button,
.chat__send__btn,.chat__close__btn{
    width:199px;
    height:48px;
    margin-right:20px;
    border-radius:8px;
    padding-right:20px;
    position: relative;
}

.landing__pg__btn__grp button svg,
.chat__send__btn svg{
    position: absolute;
    right:20px;
    top:15px
}

.landing__pg__btn__grp button:first-child,
.chat__send__btn{
    background-color:transparent;
    border:2px solid #0d6efd;
    color:#0d6efd;
    font-weight: 700;
}

.landing__pg__btn__grp button:nth-child(2),
.chat__close__btn{
    background-color:#0d6efd;
    color:#fff;
    font-weight: 700;
    border:none;
}

.chat__close__btn,.chat__send__btn{
    margin:auto;
    padding-right: 0;
}

.chat__send__btn{
    margin-bottom:10px;
}

span.blue__dot{
    height:8px;
    width:8px;
    border:#0d6efd;
    border-width: 1px;
    display:inline-block;
    background-color:#0d6efd;
    border-radius: 9999px;
    margin:0px 10px;
}

.landing__left p{
    max-width:460px;
    font-weight:500;
    margin-top:20px;
}

p.features{
    font-size:13px;
}

 /* ========= 3X3 GRID LANDING PAGE TOP RIGHT ========= */

.lp__icons__container{
    display:grid;
    grid-template-columns: 140px 140px 140px;
    gap:10px;
    justify-content: center;
}

.lp__icons{
    height:128px;
    width:128px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.25);
    position: relative;
    margin-bottom:5px
}

.lp__icons.icon1{
    border-radius: 60px 0 0 0;
    background-color: #0d6efd;
}

.lp__icons svg{
    position:absolute;
    right:45px;
    top:30px;
    width:32px;
}

.lp__icons p{
    margin-top:68px;
    margin-right:1px;
    font-size:15px;
    font-weight:500;
    text-align: center;
}

.icon1 p,.icon3 p,
.icon4 p,.icon6 p,
.icon7 p,.icon9 p{
    color:#fff;
  }

.lp__icons.icon2{
    border-radius: 0 60px 0 60px;
}

.lp__icons.icon3{
    border-radius: 0 60px 0 0;
    background-color: #0d6efd;
}

.lp__icons.icon4{
    border-radius: 60px 0 60px 0;
    background-color: #0d6efd;
}

.lp__icons.icon5{
    border-radius: 9999px;
}

.lp__icons.icon6{
    border-radius: 60px 0 60px 0;
    background-color: #0d6efd;
}

.lp__icons.icon7{
    border-radius: 0 0 0 60px;
    background-color: #0d6efd;
}

.lp__icons.icon8{
    border-radius: 60px 0 60px 0;
}

.lp__icons.icon9{
    border-radius: 0 0 60px 0;
    background-color: #0d6efd;
}

/* =========  LANDING PAGE MIDDLE CONENT ========= */

.mid__content__container p{
    max-width:465px;
    margin:auto;
    font-weight: 600;
}

.mid__card__grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:50px auto;
    max-width:780px ;
}

.mid__grid__item{
    display:grid;
    width:170px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,.125);
}

.mid__grid__item svg{
    margin-top:55px;
    margin-left:57px
}

.mid__grid__item:first-child svg{
    margin-top:55px;
    margin-left:65px;
}

.mid__grid__item:nth-child(3) svg{
    margin-top:62px;
    margin-left:65px;
}

.mid__grid__item p{
    margin-bottom: 40px;
    font-weight: 700;
}

.mid__content__card{
    display:flex;
    width:800px;
    height:420px;
    border-radius: 12px;
    margin:auto;
    margin-top:80px;
    background-color: #0d6efd;
    box-shadow: 3px 4px 15px 14px rgba(0,0,0,0.1);
    position: relative;
}

.mid__content__card img{
    display:flex;
    max-height: 420px;
    border-radius:12px 0 0 12px;
}

#card-3{
    position: absolute;
    right: 0;
    height: 420px;
    border-radius:0px 12px 12px 0px;
}

.mid__card__content2{
    position: absolute;
    left:3rem;
    top:40px;
    max-width: 410px;
    text-align: left;
    color:#fff;
}

.mid__card__content{
    position: absolute;
    right:10px;
    top:40px;
    max-width: 410px;
    text-align: left;
    color:#fff;
}

.mid__card__content p, .mid__card__content2 p{
    margin-top:25px;
}

.mid__card__content ul, .mid__card__content2 ul{
    font-size: 13px;
    margin-top:25px;
}

.mid__card__content button, .mid__card__content2 button{
    width:199px;
    height:48px;
    margin-right:20px;
    border-radius:8px;
    padding-right:20px;
    position: relative;
    background-color: #fff;
    border:none;
    color:#0d6efd;
    font-weight: 700;
    font-size:18px;
}

.mid__card__content svg, .mid__card__content2 svg{
    position: absolute;
    top:17px;
    right:30px;
}

/* ========= FEATURES PAGE ========= */

.feature{
    width:80px;
    height:80px;
    margin:auto;
    position:relative;
  }
  
  .bi{
    position:absolute;
    top:18px;
    left:26px;
    font-size:28px;
  }

  .card__features{
    background-color:transparent !important;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
  }

  /* ========= PRICING PAGE ========= */

  label{
	font-weight:500;
}
.form-group{
	margin-bottom:5px;
}


input,textarea,select,button{	
    margin: 5px 0px ;
    font-size:13px !important; 
    border-radius:0px;
}
input[type=text],input[type=password],textarea,input[type=email],select,textarea{ 
    width: 100%; 
    border:1px solid #DADADA;	
    padding: 5px 10px;	
    height:45px; 	
}
input[type=submit],input[type=button],input[type=reset],button{
    border:none; 
    font-size: 11px; 	
	border-radius:3px;
	height:45px;
	color:#FFF;
}

.btn:hover,.btn:focus{  
    cursor:pointer; 
}
input[type=radio]{
    margin:0px;
    padding:0px; 
    height:auto;
}
.form-control{ 
    box-shadow:none !important;  
	border-radius:0px;
}
.form-control:focus{
    border:1px solid #CCC;
}
.btn:focus{
	box-shadow:none !important;
}

textarea{ 
    width: 100%;
}
input[type=reset]{ 
    margin-left: 10px;
}
textarea{
	min-height:100px;
}
a{ 
    color: inherit;
}
a:hover,a:focus{ 
    text-decoration: none !important; 
    color: inherit !important;
}
ul{
    margin: 0px; 
    padding: 0px; 
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    /* list-style: none; */
}

li{
    padding-bottom: .5rem;
}

.relative{ 
    position: relative;
}
.absolute{ 
    position: absolute;
}
.fixed{ 
    position: fixed;
}

.pricing-table-container{
	padding:50px 0px;
}
.description{
	padding:15px 0px;
}
.description a{
	padding:10px;
	font-size:13px;
	display:block;
	font-weight:bold;
	border-bottom:1px solid #DDD;
}
.description a.active{
	background-color:#FFF;
	padding-left:25px;
}

.pricing-table-3{
	background-color:#FFF;
	margin:15px auto;
	box-shadow:0px 0px 25px rgba(0,0,0,0.1);
	max-width:300px;
	border-radius:0px 10px 0px 10px;
	overflow:hidden;
	position:relative;
	min-height:250px;
	transition:all ease-in-out 0.25s;
}
.pricing-table-3:hover{
	transform:scale(1.1,1.1);
	cursor:pointer;
}

.pricing-table-3.basic .price{
	background-color:#0d6efd;
	color:#FFF;
}
.pricing-table-3.premium .price{
	background-color:#ff9f00;
	color:#FFF;
}
.pricing-table-3.business .price{
	background-color:#c3185c;
	color:#FFF;
}

.pricing-table-3 .pricing-table-header{
	background-color:#212121;
	color:#FFF;
	padding:20px 0px 0px 20px;
	position:absolute;
	z-index:5;
}
.pricing-table-3 .pricing-table-header p{
	font-size:12px;
	opacity:0.7;
}
.pricing-table-3 .pricing-table-header::before{
	content:"";
	position:absolute;
	left:-50px;
	right:-180px;
	height:125px;
	top:-50px;
	background-color:#212121;
	z-index:-1;
	transform:rotate(-20deg)
}

.pricing-table-3 .price{
	position:absolute;
	top:0px;
	text-align:right;
	padding:110px 20px 0px 0px;
	right:0px;
	left:0px;
	font-size:20px;
	z-index:4;
}
.pricing-table-3 .price::before{
	content:"";
	position:absolute;
	left:0px;
	right:0px;
	height:100px;
	bottom:-25px;
	background-color:inherit;
	transform:skewY(10deg);
	z-index:-1;
	box-shadow:0px 5px 0px 5px rgba(0,0,0,0.05);
}


.pricing-table-3 .pricing-body{
	padding:20px;
	padding-top:200px;	
}
.pricing-table-3 .pricing-table-ul li{
	color:rgba(0,0,0,0.7);
	font-size:13px;
	padding:10px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.pricing-table-3 .pricing-table-ul .fa{
	margin-right:10px;
}
.pricing-table-3.basic .pricing-table-ul .fa{
	color:#28b6f6;
}
.pricing-table-3.premium .pricing-table-ul .fa{
	color:#ff9f00;
}
.pricing-table-3.business .pricing-table-ul .fa{
	color:#c3185c;
}
.pricing-table-3 .view-more{
	margin:10px 20px;
	display:block;
	text-align:center;
	padding:10px 0px;
	color:#FFF;
}

.view-more{
    width:199px;
    height:48px;
    margin-top:30px !important;
    padding-left:30px;
    border-radius:10px;
    text-decoration: none;
    background-color:#0d6efd !important;
    color:#fff;
    font-weight: 700;
    border:none;
}


/* =========  SUPPORT PAGE =========*/

.support__card{
    width:50px;
    height:50px;
    position: relative;
}

.support__card__container{
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    border:none;
}

.support__card .fa{
    position: absolute;
    font-size:1.5em;
    top:13px;
    left:15px;
}

/* =========  SIGN IN / SIGN UP / CHAT MODALS =========*/

#girl-stonks{
    max-width: 70%;
    margin: auto;
}

#sign-in-sign-up{
    border: 2.5px solid white;
    border-radius: .5rem;
    padding-inline: 2.5rem;
}

.btn-close{
    position: absolute;
    right:10px;
    top:10px;
}

.soycle{
    width: 48px;
    position: relative;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 99px;
    padding: .5rem;
    margin: .75rem;
}

#girl-with-ipad{
    max-width: 400px;

}

#sign-up-graphic{
    border-bottom-right-radius: 1rem;
}

.soycle img{
    position: absolute;
    top:15px;
    left:18px;
}

.soycle:nth-child(2) img{
    position: absolute;
    top:15px;
    left:14px;
}

.soycle:nth-child(3) img{
    position: absolute;
    top:15px;
    left:14px;
}

.soycle:nth-child(4) img{
    position: absolute;
    top:13px;
    left:15px;
}

#sign-in-email, 
#sign-in-password, 
#sign-in-username{
    position: relative;
}

#sign-in-email input, 
#sign-in-password input, 
#sign-in-username input{
    padding-left: 2rem;
    border-radius: .5rem;
}

#sign-in-email img, 
#sign-in-password img, 
#sign-in-username img {
    position: absolute;
    top: 1rem;
    left: .5rem;
}

.my-3 button{
    padding-top:10px;
}

.modal-content{
    flex-direction: row !important;
    width:900px;
    align-items: center;
    justify-content: center;
    padding-bottom:30px;
}