#girl-stonks{
    max-width: 70%;
    margin: auto;
}

#sign-in-sign-up{
    border: 2.5px solid white;
    border-radius: .5rem;
    padding-inline: 2.5rem;
}

.soycle{
    width: 2.5rem;
    position: relative;
    height: 2.5rem;
    border: 1px solid #adb5bd;
    border-radius: 99px;
    padding: .5rem;
    margin: .75rem;
}

#girl-with-ipad{
    max-width: 400px;

}

.soycle img{
    position: absolute;
    top:25%;
    left:25%;
}

#sign-in-email, 
#sign-in-password, 
#sign-in-username{
    position: relative;
}

#sign-in-email input, 
#sign-in-password input, 
#sign-in-username input{
    padding-left: 1.75rem;
}

#sign-in-email img, 
#sign-in-password img, 
#sign-in-username img {
    position: absolute;
    top: .75rem;
    left: .5rem;
}